<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Rafa's Experience</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <style type="text/css">
        .bg-light{
            background-color: transparent !important;
        }
    body{
        height: 100%;
        margin: 0;
    }


    @media screen and (max-width: 767px){
        .mt-5{
            margin-top: 0px;
        }

        .pt-5{
            padding-top: 0px;
        }

        .p-5{
            padding: 0px;
        }

        #Board1 {
    margin: 1%;
}
    }

    

    .active{
        color: black;
    }
    .active:hover{
        color: mediumvioletred;
    }
    </style>
</head>

<body>
<div id="Board0">
        <nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <a class="navbar-brand" style="font-size: 2vw;color: mediumvioletred" href="#"><b><i>RAysh</i></b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end">
                    <li class="nav-item p-2">
                      <a class="nav-link" href="index">Home</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" href="profile">Profile</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link active" href="experience">Experience</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link" href="contact">Contact</a>
                    </li>
                    <li class="nav-item p-2">
                            <a href='https://instagram.com/rafaaysh?igshid=qe84j2j6gtmh'>
                                <img class="simbolig" src="{% static '6b42c7750811d31baa3659803af22052.png'%}"></a>
                    </li>
                    <li class="nav-item p-2">
                    <a href='https://www.linkedin.com/in/rafa-ayasha-33b168177'>
                        <img class="simbollink" src="{% static 'linkedin-svg-jpeg-2.png'%}"></a>
                    </li>
                </ul>
                </div>
              </nav>

    <a href="{% url 'Contact' %}"><img id="foto1" src="{% static 'kanan.png'%}"></a>
    <a href="{% url 'Profile' %}"><img id="kiri" src="{% static 'kiri.png'%}"></a>
    <div class="container-fluid row" id="exp">

        <div class="col-12" id="atasexp">
                <a href='Contact.html'><img id="foto1" src="{% static 'kanan.png'%}"></a>
                <a href='Profile.html'><img id="kiri" src="{% static 'kiri.png'%}"></a>
                <img id="foto3" src="{% static '749390.jpg'%}">
        </div>

        <div class= "col-sm-12 col-md-3"  id="Board1">
                <h3 id="Professional" class="project">Profesional</h3>
                <h5 id="professionals1" class="project">Microsoft Office <br>
                    Python & java <br>
                    English <br> <h5>
            </div>

        <div class="col-sm-12 col-md-3" id="Board2">

                <h3 id="Personal" class="project">Personal</h3>
                <h4 id="Personals" class="project">Creativity<br>
                    Team work<br>
                    Public speaking</h4>

            </div>
        
        <div class="col-sm-12 col-md-3" id="Board3">
            
                <h4 id="Experience1" class="project">Faculty of Computer Science - Educare<br>
                    staff Sponshorship                         2019 <br><br>
                    Faculty of Computer Science - Compfest XI <br>
                    staff Sponshorship                         2019 <br><br>

                    Faculty of Computer Science - Graduatation 2018/2019 <br>
                    Treasurer                                            2019 <br>
                </h4>
            </div>
  </div>
</div>
</div>
</body>
</html>