<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Rafa's Profile</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
          <style type="text/css">
                  .bg-light{
                background-color: transparent !important;
            }
        body{
            height: 100%;
            margin: 0;
        }
    
        @media screen and (max-width: 760px){
            .mt-5{
                margin-top: 0px;
            }
    
            .pt-5{
                padding-top: 0px;
            }
    
            .p-5{
                padding: 0px;
            }
            #div2{
                margin-right: 5%;
                margin-top: 10%;
            }
            #div3{
                margin-left: 5%;
                margin-top: -5%;
            }

            #foto2 {
            max-width: 50%;
            border-radius: 50%;
            margin-left: 25%;
            }
        }

        
        @media (min-width: 992px) {
            #div2{
                margin-right: 10%;
                margin-top: 10%;
                margin-bottom: -5%;
            }
            #foto2 {
            /* position: absolute; */
            max-width: 30%;
            border-radius: 50%;
            margin-left: 30%;
            padding-bottom: 0%;
            }

            #div3{
                margin-left: 10%;
                margin-top: -5%;
            }
          }


        @media (min-width: 1200px) {
            #div2{
                margin-right: 20%;
                margin-top: 5%;
            }
            #foto2 {
            /* position: absolute; */
            max-width: 25%;
            border-radius: 50%;
            margin-left: 40%;
            padding-bottom: 0%;
            }

            #div3{
                margin-left: 15%;
                margin-top: -15%;
            }
         }
    
        .active{
            color: black;
        }
        .active:hover{
            color: fuchsia;
        }
          </style>
      </head>
      <body >
          <div id="div0">
                  <nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
                          <a class="navbar-brand" style="font-size: 2vw;color: mediumvioletred" href="#"><b><i>RAysh</i></b></a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                        
                          <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end">
                              <li class="nav-item p-2">
                                <a class="nav-link" href="index">Home</a>
                              </li>
                              <li class="nav-item p-2">
                                  <a class="nav-link  active" href="profile">Profile</a>
                              </li>
                              <li class="nav-item p-2">
                                  <a class="nav-link" href="experience">Experience</a>
                              </li>
                              <li class="nav-item p-2">
                                  <a class="nav-link" href="contact">Contact</a>
                              </li>
                              <li class="nav-item p-2">
                                      <a href='https://instagram.com/rafaaysh?igshid=qe84j2j6gtmh'>
                                          <img class="simbolig" src="{% static '6b42c7750811d31baa3659803af22052.png'%}"></a>
                              </li>
                              <li class="nav-item p-2">
                              <a href='https://www.linkedin.com/in/rafa-ayasha-33b168177'>
                                  <img class="simbollink" src="{% static 'linkedin-svg-jpeg-2.png'%}"></a>
                              </li>
                          </ul>
                          </div>
                        </nav>
    <a href="{% url 'Experience' %}"><img id="foto1" src="{% static 'kanan.png'%}"></a>
    <a href="{% url 'index' %}"><img id="kiri" src="{% static 'kiri.png'%}"></a>
 
    <div class="row justify-content-end pt-5"id="atasprofile">
        <div id="div2">
                <h5 class="project"id="Biodata">
                    Name : Rafa Putri A<br>
                    Date of Birth: 08 June 2000<br>
                    E-mail: RafaPutri86@Gmail.com<br>
                </h5>
                <h5 id="education" class="project">EDUCATION:<br>
                    Universitas Indonesia        [class of 2018]<br>
                    SMAN 5 Depok                 [2015-2018]
                </h5>
            </div>
  </div>

  <img id="foto2" src="{% static '749390.jpg'%}">

  <div class="row justify-content-start pt-5"id="bawahprofile">
        <div id="div3">
                <h2 id="about" class="project"> About Me</h2>
                <h5  class="project"id="about1">I'm a student on 3rd semester at Faculty <br><br>
                    of Computer Science, univesitas Indonesia.<br><br>
                    I'm a trustable, curious, adaptable person and<br><br>
                    i’m a cheerful person as the meaning of my name.<br><br>
                    Flexibility working individual or group </h5>
            </div>
  </div>

</div>
</body> 
</html>